.logo-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--font-logo);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-right: 93px;
}

.logo-part-one {
  font-family: var(--font-logo);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--akcent-text-color);
}
